[2016-04-15 05:17] cuongduc opened #1 "No module named flask.ext.cors"
When I tried to run `python run_demo.py` I got the following error (even though I have installed Flask)

[code]

[2016-04-15 06:02] tarriel commented on #1
I had to go
sudo pip install -U flask
sudo pip install -U flask-cors
sudo pip install -U future

now I have the error

[code]

[2016-04-15 06:08] heiguo commented on #1
@tarriel I edited run_demo.py, changed '`from betago.dataloader.processor`' into '`from betago.processor`'

now the error is:
`
Using Theano backend.
Traceback (most recent call last):
  File "run_demo.py", line 18, in <module>
    model = model_from_yaml(yaml.dump(yml))
  File "/Library/Python/2.7/site-packages/keras/models.py", line 19, in model_from_yaml
    return layer_from_config(config, cus

[2016-04-15 06:17] maxpumperla commented on #1
Thanks for the feedback, working on it right now.

@cuongduc I'll have to add flask and friends to dependencies, maybe get rid of CORS after all

@tarriel yes, @heiguo is right, I moved processor one submodule up. I will quickly fix this.

@heiguo thank you for this. The reason for this is that I created the model zoo with Keras 0.3 and suggest to use 1.0 now. There seems to be a backward incompat

[2016-04-15 06:59] maxpumperla commented on #1
@cuongduc @tarriel @heiguo I think I fixed your issues, it's on master. Can anyone confirm it's running now?

git pull
python setup.py install
python run_demo.py

In that case I make a new release.

[2016-04-15 07:46] maxpumperla commented on #1
OK guys, I found the time to fix the issue, test them on another machine and made a new release, 0.1.
I hope this works for you and I'm really glad you reported these issues.

[2016-04-15 08:07] cuongduc commented on #1
@maxpumperla Hi, I've pulled the latest release. The flask error has gone, but now I've got:

[code]
I hope it will be fixed soon.
Thanks for interesting repo on Go :-)

[2016-04-15 08:12] maxpumperla commented on #1
Thanks @cuongduc, what you posted looks like a Theano error. I do not use ```theano.tensor.signal.pool``` anywhere directly and I can't reproduce your error right now

[2016-04-15 08:52] heiguo commented on #1
@maxpumperla thx. ok to run now.

[2016-04-15 12:11] ddugovic opened #2 "error building 'h5py.defs' extension"
`$ pip install betago` console output contains:
[code]

[2016-04-15 16:01] maxpumperla commented on #2
Hi @ddugovic, while this is not strictly speaking a betago issue, I know from experience it can be painful to build hdf5 with python. Can you tell me more about your system?

In the meantime, do any of these help in any way?

https://github.com/PacificBiosciences/pbcore/issues/5
http://stackoverflow.com/questions/24744969/installing-h5py-on-an-ubuntu-server

[2016-04-15 16:02] maxpumperla commented on #1
@cuongduc @tarriel any feedback, guys? Are we good?

[2016-04-15 17:07] ddugovic commented on #2
Certainly, what would you like to know?
[code]
I have done `sudo apt-get install libhdf5-dev libhdf5-doc cython cython-doc` as suggested on SO and since that didn't fix `pip install betago` I compiled & installed hdf5-1.10.0 from source (`./configure` then `make` then `sudo make install`).  Even so `pip install betago` continues to fail:
[code]

[2016-04-15 17:20] ddugovic commented on #2
Now I am attempting the following (which is still compiling):
[code]

[2016-04-15 20:00] zxzhijia opened #3 "Main theory behind"
Thank you for sharing first. So in other words, it use only DNN to predict the next move other than AlphaGo, which used also the Monte Carlo Tree Search combined with DNNs.

[2016-04-15 20:08] maxpumperla commented on #3
Yes, right now it only uses 'policy networks' trained by, for instance, convolutional neural networks. My hope is that someone (might be me) will be implementing the second step (MC tree search) as well. The interface for a go bot in betago is very flexible, so this is just a first step.

Try to see betago more as a platform with which to build your own Go AI than a tool to just run.

[2016-04-15 20:24] maxpumperla commented on #2
That is really unfortunate. If you look into how travis is doing it on Ubuntu, maybe that could help:
https://github.com/maxpumperla/betago/blob/master/.travis.yml
So, start with a fresh conda and install scipy and numpy first, then h5py.

In the example folder there's an end-to-end example that doesn't intermediately store model and weights, i.e. which does not use hdf5. The latter is really only

[2016-04-16 02:18] ddugovic commented on #2
Thanks, seeing that travis file is quite helpful!  I found [instructions for installing scipy](http://stackoverflow.com/a/31840553) and successfully installed it (using python2.7) making a fresh conda unnecessary.

So now it runs on localhost:5000 (on my server) and once I can figure out how to run it on a different port (to avoid conflicting with another user's process) I can start playing/testin

[2016-04-16 02:36] EderSantana commented on #3
this might be a good reference to start with https://jeffbradberry.com/posts/2015/09/intro-to-monte-carlo-tree-search/

[2016-04-16 02:46] zxzhijia commented on #3
Thank you for that reference. I'll read it. My understanding of the AlphaGo
paper is that Deep neural networks are used for replacing the random
sampling step of MCTS, which is the main part. I'm interested in help
improving your code.

On Fri, Apr 15, 2016 at 10:36 PM, Eder Santana <notifications@github.com>
wrote:

[2016-04-16 04:05] zxzhijia commented on #3
Is the one you trained considered as supervised learning policy network or
reinforcement learning policy network?

On Fri, Apr 15, 2016 at 10:46 PM, Xu Zhang <xz70@duke.edu> wrote:

[2016-04-16 05:06] zxzhijia commented on #3
Thanks.

On Fri, Apr 15, 2016 at 10:36 PM, Eder Santana <notifications@github.com>
wrote:

[2016-04-16 05:52] maxpumperla commented on #2
I'm glad to hear that! I wanted to make the port flexible, but it's necessary to modify it in two places and I don't want to overcomplicate things for 'beginners'. I could add a port option in ```GoModel``` soon, but for now you could do this:

1. Flask apps accept ports ```app.run(host='0.0.0.0', port=1337)``` and you can change that in the obvious place
2. Replace 5000 by whatever in the JS part

[2016-04-16 12:03] ddugovic commented on #2
Thanks, I was able to get betago [running on port 6060](http://dugovic.mooo.com:6060).  Getting Flask to host static content was a bit of an adventure; after that it was simply a matter of replacing `postMove('http://localhost:5000/prediction',...` with `postMove('./prediction'...`.

It seems I can play one game at a time and then restart `run_demo.py` to play a new game, which is a good start!

[2016-04-17 15:30] maxpumperla commented on #1
Guys, I'd propose to close this issue. If something comes up, just reopen it again. Thanks.

[2016-04-17 15:30] #1 closed

[2016-04-17 15:32] maxpumperla commented on #2
Hey @ddugovic, that's cool! Yeah, for now one has to restart the app to play another game. The HTML & JS part isn't really high up my list, but I guess it would be nice to have more functionality.

[2016-04-17 15:32] maxpumperla commented on #2
I'm closing this now, if that's alright? :)

[2016-04-17 15:32] #2 closed

[2016-04-17 15:34] maxpumperla opened #6 "Better UI: Choose color, komi, handicap, start new game, etc."

[2016-04-17 15:38] maxpumperla commented on #3
Hey @EderSantana, that's a very nice introductory artice. You seem to be interested in Go as well, so I'm curious if I can convince you to contribute. :D

[2016-04-17 20:39] EderSantana commented on #3
Yeah, I'm def planning to help. Although I've never really played go. I'm just finishing the base of an RL lib (beyond the common q-learn everybody is doing).

Did you implement the REINFORCE part already?

[2016-04-18 05:39] maxpumperla commented on #3
That would be great. I have little experience with RL myself and no concrete plan to proceed, but @macfergus indicated that he might also be interested in implementing that. Any help is much appreciated!

[2016-04-18 05:40] maxpumperla commented on #3
cc/ @EderSantana https://github.com/maxpumperla/betago/pull/7

[2016-04-18 07:49] bhack commented on #3
See also keras effort at https://github.com/Rochester-NRT/AlphaGo

[2016-04-18 08:43] maxpumperla commented on #3
Man, @bhack, you're everywhere. Thanks, I didn't know about that project.

[2016-04-18 15:16] macfergus opened #8 "Handle training sets that don't fit in memory"
I made two attempts at this:

1. Load a model from disk, load a small training set, run a few epochs, and write back to disk. Repeat. This actually worked kinda OK; after a couple hours it reached something like 0.15 training set accuracy, 0.20 validation set accuracy before it seems to top out. (Sorry, I wasn't very scientific and didn't track the exact number of training examples and epochs.)

2

[2016-04-18 17:00] maxpumperla commented on #8
Nice, I wouldn't care too much about model performance right now. Probably we also have to care about the network architecture itself more. I really like 2. above. If you don't mind, I would pick this up tomorrow or so.

This is the way to go for now, but there's a few other things that could be interesting:
a) Load data using dask and
b) parallelize everything with Spark using elephas. Putting da

[2016-04-18 17:45] macfergus commented on #8
Yes please feel free to continue on it! Apologies for the super-sloppy code. A couple notes:

- I don't think all the calls to gc.collect() are actually necessary (I put them in while debugging something)
- It breaks up the biggest KGS files into chunks, see here:
https://github.com/macfergus/betago/blob/memory-hacks/betago/dataloader/base_processor.py#L332
512 examples per chunk is probably small

[2016-04-19 07:45] maxpumperla commented on #8
Absolutely no need to apologize. Apart from the fact that it's not even sloppy in my eyes, we're here to build fun stuff in our free time - no place for apologies! :) Your effort is much appreciated, thanks again!

[2016-04-19 17:06] maxpumperla commented on #8
Hey, @macfergus, I've integrated your ideas in master. It's not cleaned-up yet, but works for now. I've opted for a ```use_generator()``` flag in ```GoDataProcessor```, so that both numpy arrays and generators can be returned. This way we don't need  ```generate_go_data``` as new method, and the parts collecting data stay contained in ```consolidate_games```, as initially intended.

I pushed it so

[2016-04-19 17:09] maxpumperla commented on #3
@zxzhijia did we discuss this issue to your satisfaction? Would you want us to maintain a wiki page on methodology? Anything else for now?

[2016-04-19 17:12] zxzhijia commented on #3
Hi Max, my problem is solved. Thank you.

On Tue, Apr 19, 2016 at 1:09 PM, Max Pumperla <notifications@github.com>
wrote:

[2016-04-19 18:02] #3 closed

[2016-04-19 18:06] maxpumperla commented on #6
@jokkebk We're making heavy use of your awesome jgoban lib here, but our demo is still underwhelming. Would you be interested in helping us, thereby testing your UI by seeing it in action?

[2016-04-19 19:21] jokkebk commented on #6
Haha, thanks for the compliments, and wonderful to see you're using jGoBoard!

I'm unfortunately a bit pressed on time currently, so cannot offer much help with the AI project, but let me know if you'd need some features on jGoBoard side of things. My friend is currently doing a simple go server so we're looking at things like implementing scoring etc. there.

[2016-04-20 00:26] ddugovic commented on #6
I'm curious (now that this engine has a GTP front end) whether it would make sense to somehow utilize [NNGS](http://github.com/matsu911/nngs) as a web server.

[2016-04-20 05:36] maxpumperla commented on #6
Sure, definitely something we have to look into. I have no experience with NNGS, but would be very interested in this topic. @ddugovic have you done some work with NNGS? Maybe this calls for another issue, this was intended to be front-end only.

[2016-04-20 06:01] maxpumperla commented on #6
@jokkebk It was worth a shot, wouldn't you say? :) I'll reach out to you if there's something that'd be cool to add. And w.r.t. the Go server, the "scoring" is what it's all about, so we could potentially work on that together.

[2016-04-20 16:46] macfergus commented on #8
Awesome! Let's close this issue. There's still lots of ways to improve the data loading, but this should unblock anyone who just wants to play with a bigger sample.

[2016-04-20 16:46] #8 closed

[2016-04-22 16:57] kaluosi opened #9 "pip install betago fails with problems with numpy, I gess"
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security -D_FORTIFY_SOURCE=2 -fPIC -DH5_USE_16_API -I/tmp/pip-build-stypprco/h5py/lzf -I/opt/local/include -I/usr/local/include -I/usr/local/lib/python3.4/dist-packages/numpy/core/include -I/usr/include/python3.4m -c /tmp/pip-build-stypprco/h5py/h5p

[2016-04-22 17:27] maxpumperla commented on #9
Could I please refer you to #2 which is essentially the same problem?

[2016-04-22 22:48] ddugovic commented on #9
I suggest starting with [this comment](https://github.com/maxpumperla/betago/issues/2#issuecomment-210715880) and working your way up to the top comment, in the hopes that you suffer less than I did!

[2016-04-23 07:01] maxpumperla commented on #9
Well, we have to find a way to document this properly. This is clearly an issue with installing scipy stack prior to h5py on linux, not betago itself. If it doesn't work with pip, that is unfortunate, but given the amount of SO and github issues on this topic, there doesn't seem to be an easy way out.

@ddugovic @kaluosi what would you like to see? I'd propose to link to a comment section in the m

[2016-04-23 07:02] maxpumperla commented on #9
@macfergus what's your take on such matters?

[2016-04-23 14:37] ddugovic commented on #9
I'd like to see a complete dependency list, plus some suggestions of how to obtain said dependencies.

[2016-04-23 15:58] macfergus commented on #9
I updated the README with more detailed instructions for Ubuntu/Debian type platforms (https://github.com/maxpumperla/betago/commit/f010cb1499216f18dd4471a34fc1416b3efd4322)

I'll try to do the same for Mac OS a little later.

@ddugovic @kaluosi do these help? Any other platforms you'd like to see?

Also, would it be crazy to provide a Vagrantfile that installs all the deps? A Vagrant is probably

[2016-04-24 17:31] maxpumperla commented on #9
@ddugovic @kaluosi we added instructions for Mac as well, are you OK with this?

@macfergus sure, why not? Docker would be nice as well.

[2016-04-24 17:55] macfergus opened #13 "Figure out python 3 support for gomill"
betago uses the gomill library for processing SGF files. Unfortunately, it does not support Python 3. The author appears to have abandoned the project:

https://github.com/mattheww/gomill/issues/1

traveller42 did some work on updating to Python 3, but it seems like there is still a lot left:

https://github.com/traveller42/gomill/tree/python3

So at the moment, betago supports python2 and 3 for p

[2016-04-24 18:09] ddugovic commented on #9
@macfergus Thanks, that's excellent!  I just upgraded to Ubuntu 16 and this solution exceeds my expectations!

I'm not a Mac OS user, but the more the merrier...

[2016-04-24 18:30] ddugovic commented on #6
@maxpumperla I managed to install [nngs](http://github.com/ddugovic/nngs) and connect!  I look forward to testing it, although I can't find the IGS/NNGS help pages.

[2016-04-25 17:19] maxpumperla commented on #6
@ddugovic That's pretty cool! Can you somehow share your knowledge / document what and how you did that? Could be very valuable for a lot of people.

[2016-04-26 01:37] ddugovic commented on #6
Yes, I'm working on it... I have updated the [README](http://github.com/ddugovic/nngs.git) file although I'm trying to obtain help files for the server so after I log in I can verify the installation...

[2016-04-29 15:48] flakeman2 commented on #9
I'm using Ubuntu 15.10 and had to manually install these packages in order for 'pip install betago' to work:

sudo apt-get install python-matplotlib python-scipy python-numpy libatlas-base-dev libatlas-dev libatlas3-base libblas-dev liblapack-dev

Devin

[2016-05-05 04:32] #13 closed

[2016-05-13 01:02] ddugovic commented on #6
It looks like my nngs installation is successful and I can connect with either telnet or clients like [Jago](http://senseis.xmp.net/?Jago).

[2016-05-20 12:19] rocketinventor commented on #9
@flakeman2 I followed all the instructions but, I keep getting this error:
`Traceback (most recent call last):
  File "run_demo.py", line 2, in <module>
    import yaml
ImportError: No module named yaml
`

I'm using c9.io https://ide.c9.io/rocketinventor/beta-go

[2016-05-20 14:02] rocketinventor commented on #1
I just downloaded the latest version and I'm having this problem.

[2016-05-20 14:08] rocketinventor commented on #1
I followed all instructions, installing from Main. Error, still:

`Using Theano backend.
Traceback (most recent call last):
  File "run_demo.py", line 7, in <module>
    from betago.model import HTTPFrontend, KerasBot
  File "/home/ubuntu/workspace/betago/betago/model.py", line 7, in <module>
    from flask.ext.cors import CORS
  File "/home/ubuntu/workspace/.betago/local/lib/python2.7/site-packag

[2016-05-20 15:49] rocketinventor opened #17 "Update NumPy API"
Whenever I run `pip install betago` I get an error the error text: `#warning "Using deprecated NumPy API, disable it by " \` which shows up many times right before everything freezes.

The API usage should be updated.

[2016-05-20 17:00] maxpumperla commented on #17
Hey @rocketinventor, could you please be a bit more specific about your error message? For instance, I know the warning pops up on some systems when installing h5py. Did you properly install hdf5 before, as explained in the readme? When does it freeze? Do you see any errors, too?

[2016-05-20 19:45] rocketinventor commented on #17
@maxpumperla I followed all the instructions in the readme. I also followed instructions from #9 #1.
If I recall correctly, I was trying to install the dependencies manually so maybe it was a problem with `pip install -U scipy`. The dependency should have been auto fetched, though.

[2016-05-20 19:46] rocketinventor commented on #9
@maxpumperla
I had had to install many dependencies by hand and it still doesn't work.
Such as:
`pip install pyaml`

`pip install keras`

`pip install -U flask-cor`

`pip install -U scipy` or `apt-get install scipy`

[2016-05-21 16:12] macfergus commented on #17
@rocketinventor can you share the pip log? Try installing with `pip install --log install.txt betago` and then share the `install.txt` file

It would also help to know:
- OS and version
- Python / pip / setuptools version
- whether you are using a virtualenv

[2016-05-22 03:09] rocketinventor commented on #17
Interestingly enough, this time it auto fetched the dependencies. Still froze at the same place, though. Here is the log file: [install.txt](https://github.com/maxpumperla/betago/files/276161/install.txt)

I am using c9.io, virtual Ubuntu. I don't know which version numbers, though.

[2016-05-22 18:47] macfergus commented on #17
Hi @rocketinventor, thanks for all the details.

I updated the readme: https://github.com/maxpumperla/betago/commit/be14775b9e19bfdde41caacb2620935a4637cdf8 Please try the new steps and let us know if it works for you.

The original install instructions were written for Ubuntu vivid. Cloud9 runs Ubuntu trusty, so we need to upgrade a few things first.

BTW, cloud9 machines are relatively slow and

[2016-05-22 20:49] rocketinventor commented on #17
The new instructions seemed to do the trick

[2016-05-22 20:49] #17 closed

[2016-05-22 20:56] rocketinventor commented on #17
How do I see the interface once the server is up?

[2016-05-25 16:09] rocketinventor opened #18 "Tips for using c9.io"
Hi, I was able to get the python code for c9 working but it auto-opens in lynx and I cannot figure out how to play the demo.
Any tips?

[2016-05-27 03:53] macfergus commented on #18
Hi, the problem is that the html and javascript are served as local file:// URLs. So you can't access them over the network. We should serve them through the web server to fix this.

To do this, we need to configure the flask `static_folder` to point to a path containing `demoBot.html` `jgboard-latest.js` and `board.js`. Then update the `postMove` URL to be relative instead of absolute.

PS. @rock

[2016-05-27 07:24] rocketinventor commented on #18
I'm still working on getting flask to serve the files statically. My current efforts are not working though. It looks something like [this](https://github.com/maxpumperla/betago/files/285894/diff.txt) and is based in part on [this guide](https://codepen.io/asommer70/post/serving-a-static-directory-with-flask) b/c I didn't understand [this one](http://flask.pocoo.org/snippets/102/). Workspace url:

[2016-05-28 14:55] macfergus commented on #18
Your diff looks good, I think the only thing you're missing is to change
`app = Flask(__name__)`
to
`app = Flask(__name__, static_folder='../ui')`
or something like that. All the calls to `send_static_file` and such are relative to `static_folder`.

Thanks for tackling this!

[2016-07-14 07:50] nanxintin opened #19 "error test : zipfile.BadZipfile: File is not a zip file"
I was very interested in AlphaGo, and luckily I found the BetaGo. When I try to understand the working mechanism of the bot, I came across some problems  when running some demos in the examples fold, such as "end_to_end.py", "train_and_store.py","train_generator.py". The error is as follows:
"total num games: 179695
Drawn 1000 samples:

[2016-08-11 19:11] soma-six commented on #6
I potentially have a beautiful solution....
Demo: http://sabaki.yichuanshen.de/web/view/
Repo: https://github.com/yishn/sabaki-website
GTP: https://github.com/yishn/Sabaki/wiki/Engines

[2016-12-28 16:28] jason19659 opened #20 "How can I run it on windows"
How can I run it on windows?

[2017-01-10 04:01] rocketinventor commented on #18
After several moths of inactivity, I finally noticed that the C9 IDE documentation says explicitly that you can only use ports `8080 - 8082`.

I'm going to take another look to see if that was my problem.

[2017-01-10 07:15] maxpumperla commented on #18
Great to hear! Let me know if it solved your problem. Haven't had time to work on betago for a very long time either...

[2017-01-13 15:36] rocketinventor commented on #18
@maxpumperla No luck so far.
I can't even get it to work in curl:
[code]

[Here is the traceback from flask](https://github.com/maxpumperla/betago/files/704644/predictionlog.txt) (change the ext to .html)

Files:
https://c9.io/rocketinventor/beta-go/files/betago

[2017-01-17 13:55] AMakeApp opened #21 "Error on BetaGo when starting"
When I start Go on browser, BetaGo don't run properly.
What should I do?

taewoo@Linux-Workstation:~/Code/betago$ python run_demo.py Using TensorFlow backend.
/home/taewoo/Code/betago/betago/model.py:7: ExtDeprecationWarning: Importing flask.ext.cors is deprecated, use flask_cors instead.
  from flask.ext.cors import CORS
 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [17/

[2017-01-17 18:42] rocketinventor commented on #18
Any chance this is related to #21?

[2017-01-17 18:46] rocketinventor commented on #6
@ddugovic NNGS hasn't been updated in a long time. If Betago's back end can handle these options, then they should be handled on the front end and it should be trivial to add them.

[2017-01-17 18:52] rocketinventor commented on #20
Try using [Cygwin](https://www.cygwin.com/). Install it on your system, then proceed to follow the instructions as if using Linux.

[2017-01-17 19:00] rocketinventor opened #22 "Make AJAX asynchronous"
A quick look at the source code reveals that the requests to the server are being handled asynchronously. This can lock up the page and is bad for performance (and Karma).

The JS should be rewritten to work asynchronously.

[2017-02-03 20:19] cdmalon opened #24 "only Theano backend works"
The default installation for Keras now seems to elect TensorFlow instead of Theano.  With this setup, any attempt to play a move (POST /prediction) results in an error:

[code]

Additionally, `tests/model_test.py` fails in the same way.

Editing `~/.keras/keras.json` to specify the Theano backend works around the problem; perhaps this suggestion should be added to the README for now.

[2017-02-06 01:35] cdmalon commented on #21
@AMakeApp I worked around this in #24 by switching the backend from TensorFlow to Theano.  Edit your ```~/.keras/keras.json``` file to specify ```theano``` as the value of ```backend``` and try again; see https://keras.io/backend/ for details.

After that, if you're having trouble playing in the terminal, then try playing from a real web browser, by running a second web server (on port 80 or somet

[2017-02-06 16:08] AMakeApp commented on #21
Thank you! Changing keras' backend from tensorflow to theano, it works very well! :D

[2017-02-06 16:08] #21 closed

[2017-02-18 03:48] cdmalon commented on #19
I think pull request #25 fixes this problem.

[2017-02-23 21:48] rocketinventor opened #26 "Double playing?"
After you capture an area with the other player's stones (white), the board looks like this:
![image](https://cloud.githubusercontent.com/assets/6473114/23278389/593f393a-f9df-11e6-9dc3-d72cc7bbb070.png)
However, if you click in it, it places a stone but, instead of proceeding normally, you end up playing for white for several moves (and can only play where white is allowed to go)!!!
Traceback alw

[2017-02-23 23:50] rocketinventor opened #27 "game-state mismatch [bug]/[possible enhancement]"
**If a user refreshes the betago web page but not the server, the game does not actually reset.** As a result, an error is thrown by the server any time you try to play in an area that was previously played on. The javascript does not have proper error handling for this, so it stops playing as black, and starts playing and processing as white (locally) for the next move but sends the coordinates t

[2017-02-24 06:19] rocketinventor commented on #18
@maxpumperla Everything works now! Please merge #28 so that others can benefit as well.

[2017-02-24 06:20] rocketinventor commented on #21
I think that this also helped with some issues I was having in #18.

[2017-02-24 06:21] #18 closed

[2017-02-24 06:22] rocketinventor commented on #18
#28 also contains a bash script that makes running the demo easier. Soon, it will be super simple to run anywhere (especially c9.io).

[2017-02-24 06:34] rocketinventor commented on #20
@jason19659 Any luck?

[2017-02-24 13:11] rocketinventor opened #29 "TypeError: 'NoneType' object is not iterable"
I noticed that when using the default (demo) instance, near the end of the game, instead of playing valid moves, I get the following error: `TypeError: 'NoneType' object is not iterable`. This is odd, because there are still areas on the board that can be played by white (but they are not getting played). Once this happens, the client-side ui starts to put down white stones instead of black ones.

[2017-02-24 17:15] rocketinventor opened #30 "JS error handling [improvements needed]"
I have noticed that if the server responds with any type of error, the client `demobot.html` **freaks out**. When this happens, no move is processed for white and the client switches to playing white for one (1) move. At this point, the player can only play in areas that white is allowed to play in, and locally, their moves count for white. However, the moves are still recorded and sent to the ser

[2017-02-25 15:55] macfergus commented on #27
Hi @rocketinventor, thanks for digging deep on this! I like the idea of using a hash to track the current game state.

I don't think the server should proactively reset if it gets a mismatched token; better to let the client make the decision to either a) start a new game or b) request a sync of the full game state.

So I guess the steps to complete are:
1. Implement a game-state token and verify

[2017-02-25 15:58] macfergus commented on #29
I guess there are two separate problems here. One, passing is a perfectly valid move, so the demo server should allow the bot to pass, and the client should handle that as well.

Two, the bot is passing when we wouldn't expect it to. Probably this is another example of game state getting out of sync (as referenced in #27), but it's also possible that the bot just has some dumb passing logic.

[2017-02-25 16:13] macfergus commented on #26
I think you figured out the root cause in #27. I'm going to close this bug as a dupe for now

[2017-02-25 16:13] #26 closed

[2017-02-25 22:14] macfergus commented on #30
I propose splitting the /predict HTTP command into two operations: one to play the human move, and a second to generate the bot move

Then the client flow could be:
1. Make the server request to apply the human move
2. Wait for request to finish successfully (should be fast)
3. Update client state and draw the human move
4. Make a server request for a bot move (could be slow, with a more sophistic

[2017-02-26 09:21] rocketinventor commented on #30
While splitting the request may be a good idea, I don't think that it would help solve the problem. If the bot has an error, we will still have a problem. Also, the additional level of complexity is not worth it. I'd rather have a separate request for getting a copy of the game _from the server_.

If we did go the route of splitting the request, it might make more sense to use web-sockets.
The cli

[2017-02-26 10:46] rocketinventor commented on #30
I think the best route to go is to draw the stone but not run `jboard.setType(playNext.captures, JGO.CLEAR)` (clear opponent's stones) until a success is recorded from the server. If there is an error, the stone should be removed.

[2017-02-26 12:03] rocketinventor commented on #30
It's worth noting that moves are getting sent to the server, even if they are invalid.

**Client-side log:**
![image](https://cloud.githubusercontent.com/assets/6473114/23339473/4ab26fea-fbf1-11e6-8304-6abb4f8fd3a1.png)

[2017-02-26 12:12] rocketinventor commented on #27
I may have found the issue!
It seems that the x and y coordinates from the player were getting swapped (by the server), then getting swapped back when it came time to send them to the client.

I will create a pull request with the fix, as well as some new debug tools that I added, soon.

[2017-02-26 12:56] rocketinventor commented on #27
Update: it appears that the model and the client count in opposite directions for the Y axis, too. Subtracting the Y from 18 should before and after processing should help solve this issue. I'm testing it right now.

I.E. The marked area was thought to have been played on *twice* by the client.
![image](https://cloud.githubusercontent.com/assets/6473114/23339701/c015596a-fbf5-11e6-9be8-8f92f58f0d1

[2017-02-26 13:24] rocketinventor commented on #26
Update: The x,y swap and described in #27 was probably the cause.
---
~~I'm fairly certain that this #27 is _not_ the root cause.~~

~~I was playing a very successful game against the demo bot where I captured many opponent stones.
My current board looks like this:~~
![image](https://cloud.githubusercontent.com/assets/6473114/23338187/e5cf8df2-fbd1-11e6-9bf8-e5a89dc8f5e2.png)
~~_Several_ times thr

[2017-02-26 16:28] rocketinventor commented on #29
I think that you are right about the two problems. However, I think that #26 might (also) be the cause if there are stones/areas that the user captured but the server isn't recognizing.

ATM, there is no mechanism for either the user, or the server to pass :disappointed:

[2017-02-26 16:29] rocketinventor commented on #30
Additionally, the next move after an invalid (but server-accepted) move is _usually_ ignored but, sometimes it is evaluated as a black move.

Please see the below diagram below. The black box is where I attempted to play and the white box is the play that the server responded with.

![image](https://cloud.githubusercontent.com/assets/6473114/23340191/1e2dd2b6-fc00-11e6-8f10-cbcc1cbd7266.png)
As yo

[2017-02-26 16:41] rocketinventor commented on #22
The current handling can cause bugs.
Steps:

1. Open Betago
2. Open debug tools on browser and set it to simulate a slow network
3. Quickly click on a few open spots (before the client finishes handling the first one

In my test, I clicked on three spaces in the same column. Inside the client, it looks how I expect. However, if you look at the log (last three requests) you can see that the client

[2017-02-26 16:43] rocketinventor commented on #27
With this fix, I can confirm that BetaGo will recognize areas that _it captured_ as playable. However, until #27 is fixed, there is no way for me to know if this issue is causing #26 or if #26 is its own problem or not (I'm still getting errors playing in areas that _I_ captured).

[2017-02-27 01:19] rocketinventor commented on #6
Right now, there is no need for Komi, because there is no score-keeping going on (that I know of). Does anybody know of a library (python _or_ js) that can keep track of score?

[2017-02-27 04:18] rocketinventor commented on #26
In a recent game, I was able to play over several stones that were captured by BetaGo as well as several stones that I captured _from_ BetaGo without **_any_** error.

[2017-02-27 04:26] rocketinventor commented on #29
If both the BetaGo _and_ the human player have to pass by default (no legal moves left), isn't that a game over?

[2017-02-28 06:00] macfergus commented on #24
Turns out it is because the model is loaded in a different thread from the demo web server. Disabling threading fixes it.

[2017-02-28 06:00] #24 closed

[2017-02-28 06:14] macfergus commented on #30
Yes this is a good plan.

Just to clarify what I was saying about splitting the `/predict` call:

1. The client should check move validity with the server. If the server rejects a move, the client should not update the board (and instead should re-sync the game state, probably).
2. But the bot may be slow to generate its next move. It would be a bad experience if the human player had to wait 10 -

[2017-03-01 12:59] DuyHung-Le opened #33 "Total number of games used: 0"
Hi,
I tried to fetch some game data, using the given code.
[code]

However, the program returned "total number of games used: 0", and then raised this error:

[code]
Please help!

[2017-03-01 14:00] #33 closed

[2017-03-04 00:16] cdmalon commented on #27
@rocketinventor Indeed betago only is designed to serve a single game per launch of the server.  That's consistent with the GTP protocol, but it raises issues like this one, and unnecessarily prevents you from running one web server to play simultaneous games across the internet.

A simpler approach than implementing state tokens would be to have the server maintain no state at all, and to have th

[2017-03-06 00:33] hadim opened #35 "Python 3"
Is it Python 3 compatible ?

[code]

raises

[code]

[2017-03-06 00:37] hadim commented on #35
I use Python 3.6

[2017-03-06 01:01] hadim commented on #35
Here is the patch that used to make it work :

[code]

[2017-03-06 01:01] hadim commented on #35
Also the tutorial is broken :

[code]

[2017-03-09 15:16] macfergus commented on #35
Hi hadim, betago theoretically supports python 3, but as you can see we haven't been careful about testing in both Python versions.

Thanks for your patch! I will modify it to use the six library and merge.

[2017-03-09 15:38] macfergus commented on #27
Well this raises two separate questions:

1. Do we want to make a production-quality web server for the bot? This was never a goal I had, but if people are interested in it it's certainly open for discussion.
2. Should bots be stateless? I don't think this is practical. For the current bot it's fine, but a bot that does any kind of tree search will want to preserve information in between moves. I

[2017-03-09 16:14] macfergus opened #36 "large training set management"
On the kind of hardware I have access to:
1. It's not practical to encode the entire training set at once. It takes days and I run out of memory or disk
2. It's not practical to train an entire epoch uninterrupted. Either I'm using my personal laptop which I sometimes want to use for other stuff, or I'm using cheap EC2 spot instances which can be pre-empted at any time.

My proposal is:
1. Divide

[2017-03-10 05:02] rocketinventor commented on #27
@cdmalon As @macfergus said, a stateless server would be interesting but the implementation would be impractical and waste a lot of data and CPU cycles for what we need. Plus, parsing the game data for the server and implementing GTK over HTTP would add additional complexities. At this point, I think it is fine just to mirror one game across multiple clients.

A similar system to what I proposed i

[2017-03-12 09:39] rocketinventor commented on #27
I just submitted a pull request (#38) that addresses this issue.

[2017-03-20 16:09] rocketinventor commented on #30
I am going to go ahead and close this issue due to the improvements of pull request #38 which address the  actual issue of poor client side handling. The rest of this thread, which is about sync mechanisms, should be given its own issue for discussion as it is off topic.

If anyone else notices new problems with the _javascript error handling_, they should feel free to re-open this thread.

[2017-03-20 16:09] #30 closed

[2017-03-20 23:14] rocketinventor opened #44 "Keep track of score"
It would be nice if either the server, or the client could keep track of the score whenever a game is in progress.

[2017-03-22 20:25] rocketinventor opened #45 "Get game data from server"
I am trying to get various gameplay data from the server in order to use it for the client. The data that I am looking for includes the raw data (which pieces are currently on the board, what were the last two moves for each color, etc.) and the score, komi, etc if available. My priority right now is the raw data so that I can add a sync mechanism to address possible game-state mismatches (#27).

[2017-03-23 12:48] rocketinventor commented on #27
I would like to implement game sync but I don't know where the data is stored (see #45).

[2017-03-24 13:11] rocketinventor commented on #20
@comp0ker Have you tried running this on your laptop, yet?

[2017-03-24 13:13] rocketinventor commented on #20
@comp0cker have you tried running this yet? Any luck?

[2017-03-24 21:14] rocketinventor commented on #36
@macfergus Sounds interesting. How do the extra steps of dividing and indexing affect performance?

[2017-03-28 04:29] macfergus commented on #44
What level of "score" were you thinking?

Captures is pretty easy

An estimated win %age like Zen does is impossible at the moment, but should be easy if/when we get to implementing reinforcement learning

Estimated territory is actually pretty difficult, although I could guess at some of the heuristics that OGS or Tygem use for their territory estimators

[2017-03-28 04:35] macfergus commented on #45
This is a good question. Currently the GoBoard class in goboard.py tracks only the current state of the board. Nothing tracks history, komi, captures, etc, not even whose turn it is.

One solution is to wrap the GoBoard class in some kind of Game class that can contain a game tree and some other state. I think this would be straightforward and pretty clean but I haven't fully thought it through ye

[2017-03-28 04:42] macfergus commented on #36
It's hard to tell precisely. The chunking definitely adds some overhead to encoding the game records. I would guess it's about 25% slower but I did not take any careful measurements.

But! Since you can do the encoding in parallel with training the network, the entire training process is very efficient, it's basically limited by how fast you can train the network.

On an amazon p2.xlarge instance

[2017-03-28 11:39] rocketinventor commented on #45
@macfergus Right now my main concern is extracting the _current_ state of the board (likely from the context of `model.py`). How do I do _that_?

Capturing the game tree, as you described, might require some further conversation but, it is definitely something to look into for the future.

[2017-03-28 12:58] rocketinventor commented on #44
I already found a C++ library that can do territory estimation (from the command line, or JS via Enscripten) so, at this point, I just need a count of captures and I can figure out the rest.

Estimated win %age would certainly be neat but is a little bit far off at this point (I think).

[2017-03-28 13:00] #22 closed

[2017-03-28 13:03] #27 closed

[2017-03-28 14:45] macfergus commented on #45
I think the quickest way for now is to loop over `self.bot.go_board` somewhere in HTTPFrontend. It will look something like this:

[code]

LMK if that gets you started!

[2017-03-28 14:53] macfergus commented on #44
That sounds really cool!

[2017-03-29 08:53] maxpumperla commented on #35
above PR will hopefully close this. we still need more test coverage for the data loading.

[2017-03-29 08:54] maxpumperla commented on #35
About the readme, it's meant to skim through to get an idea, but maybe we should link to a full example explicitly.

[2017-03-29 08:57] maxpumperla commented on #20
@jason19659 I'm working on dockerizing the application, which should make it easy to run on Windows as well.

[2017-03-31 03:43] maxpumperla commented on #35
alright @hadim, I'll close this for now. Thanks again for the patch! let me know in case we missed something.

[2017-03-31 03:43] #35 closed

[2017-03-31 03:46] maxpumperla commented on #19
@nanxintin does this problem still persist? I think this should be fixed. I'm closing for now, feel free to re-open if necessary. Thanks!

[2017-03-31 03:46] #19 closed

[2017-04-04 17:03] rocketinventor commented on #45
@macfergus Thanks! That helped out a lot!

[2017-04-05 09:18] maxpumperla commented on #20
Betago demo is now dockerized, should work on any platform. See the readme for more info @jason19659 @rocketinventor.

Closing this now. Let me know if you see anything missing.

[2017-04-05 09:18] #20 closed

[2017-04-05 09:20] maxpumperla commented on #9
guys, I'm not sure what the status on this is, but it might be worth looking into the new `Dockerfile` as a reference for how to install betago "from scratch".

[2017-04-20 13:40] maxpumperla commented on #22
This looks like a fair concern @rocketinventor, why did you close this issue?

[2017-06-11 14:10] maxpumperla commented on #9
I will close this for now, not sure if it helps to keep this alive. We now have a lot of documentation that explains how to install, including a Docker demo.

[2017-06-11 14:10] #9 closed

[2018-01-10 09:31] SongRb opened #51 "error test: AssertionError"
[code]

[2018-04-23 06:39] likw99 commented on #33
I met the same issue.
How to solve it?

[2018-04-23 06:40] likw99 commented on #33
@DuyHung-Le

[2018-04-23 07:42] maxpumperla commented on #33
@likw99 I've never seen this before. Maybe remove your `data` folder and your kgs index html and run again. maybe the download was corrupted.

[2018-04-23 07:42] likw99 commented on #33
This should be html parser issue (Download files moved to https:// )
Fixed.

[2018-08-29 06:35] BruceDai003 opened #52 "UnicodeDecodeError: 'gbk' codec can't decode... When running run_demo.py"
I didn't change anything and simply run the `run_demo.py` script. And I noticed that when running the Flask app served on localhost:8080, in the `static_file_large(path)`, when the program is openning some *.png or *.jpg files, e.g. black.png, shadow.png, shinaya.jpg, with `open("ui/large/" + path).read()` statement, this error popped up, `UnicodeDecodeError: 'gbk' codec can't decode byte 0x92 in

[2019-04-02 01:53] xixiU commented on #52
same to me?how do U solve the problem?

[2019-04-13 03:11] xixiU opened #56 "Error on run_demo.py"
just #52 shows,I changed to those following:
        @app.route('/large/<path:path>')
        def static_file_large(path):
            try:
                return open("ui/large/" + path).read()
            except:
                base_dir =os.getcwd()
                print('here  %s'%("ui/large/" + path))
                image = Image.open(os.path.join(base_dir,"ui","large" , path),mode='r')

[2019-04-18 09:50] AfroDisco opened #57 "end_to_end.py KerasBot has no attribute run"
When running end_to_end.py the last lines with go_model.run() causes an error has kerasBot has not that attribute. The model should be used inside HTTPFrontend with that run() attribute.

[2020-03-21 05:53] miz2miz opened #59 "aim"

[2020-03-21 06:10] #59 closed, assigned to nobody

[2020-10-17 10:00] #51 closed

[2020-12-12 22:08] Matt-Kou commented on #52
I met the same issue... did you resolve the problem?